body {
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}

.container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}

.title .accent {
    color: #fd9222;
}

img {
    display: block;
}

/* --------------------header----------------------  */
.header {
    padding: 32px 0px 24px;
}

.header-wrap-nav {
    display: flex;
}

.header-nav {
    display: flex;
    margin-right: 90px;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111;
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-logo-span {
    font-style: italic;
}

.header-logo-img {}

.header-nav-menu {
    display: flex;
    gap: 24px;
}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
}

.header-menu-link:hover,
.header-menu-link:active,
.header-menu-link:focus {
    color: #fd9222;
}

.header-soc-list {
    display: flex;
    gap: 14px;
}

.header-soc-item {}

.header-soc-item-link {}

/* --------------------header----------------------  */

/* --------------------hero----------------------  */
.main {}

.hero {
    padding-bottom: 80px;
}

.hero-wrap {
    background: rgba(17, 17, 17, 0.6);
    padding: 380px 40px 40px 40px;
    border-radius: 30px;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 484px;
    margin-bottom: 32px;
}

.hero-btn-wrap {
    display: flex;
    align-items: center;
}

.hero-btn-main {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background: #fd9222;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    padding: 14px 40px;
    margin-right: 14px;
}

.hero-btn-link {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background: rgba(17, 17, 17, 0.6);
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid #fff;
    padding: 14px 40px;
}

.hero-link-scroll {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: #fff;
    margin-left: auto;
}

/* --------------------hero----------------------  */

/* --------------------features----------------------  */
.features {
    background-color: #1e1823;
    padding: 50px 0 50px;
}

.features-list {
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    gap: 88px;
}

.features-item {
    width: calc((100% - 2 * 88px) / 3);
}

.features-item-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;

}

.features-item-text {
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* --------------------features----------------------  */

/* --------------------sensation----------------------  */
.sensation {
    padding-top: 120px;
    padding-bottom: 60px;
}

.sensation-title {
    max-width: 412px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.sensation-text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    margin-bottom: 50px;
    max-width: 486px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.sensation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
}

.sensation-item {
    border-radius: 15px;
    padding-top: 28px;
    padding-bottom: 28px;
    width: calc((100% - 3 * 32px) / 4);
}

.sensation-item:nth-child(4n + 1) {
    background: #fd9222;
    color: #fff;
}

.sensation-item:nth-child(4n + 3) {
    background: #1e1823;
    color: #fff;
}

.sensation-item:nth-child(even) {
    background: #fff;
    border: 1px solid #fd9222;
    color: #111;
}

.sensation-item-img {
    margin: 0 auto;
    margin-bottom: 36px;
}

.sensation-item-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-left: 28px;
}

/* --------------------sensation----------------------  */

/* ----------------------made------------------------  */
.made {
    padding-top: 60px;
    padding-bottom: 60px;
}

.made-title {
    margin-bottom: 50px;

}

.made-img {}

.made-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #111;
    margin-bottom: 28px;
    max-width: 350px;
}

.made-list {}

.made-item {
    margin-bottom: 24px;
}

.made-itemn:not(:last-child) {
    margin-bottom: 24px;
}

.made-text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #111;
}

/* ----------------------made------------------------  */

/* ----------------------products------------------------  */
.products {}

.products-title {}

.products-list {}

.products-item {}

.products-img {}

.products-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
}

.products-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.products-btn {
    font-weight: 600;
    font-size: 14px;
    color: #111;
}

/* ----------------------products------------------------  */

/* ----------------------sellers------------------------  */
.sellers {}

.sellers-title {}

.sellers-list {}

.sellers-item {}

.sellers-item-img {}

.sellers-item-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
}

/* ----------------------sellers------------------------  */

/* ----------------------loved------------------------  */
.loved {}

.loved-title {}

.title {}

.loved-list {}

.loved-item {}

.loved-img {}

.loved-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111;
}

.loved-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
    font-weight: 600;
    font-size: 18px;
    color: #111;
}

/* ----------------------loved------------------------  */

/* ----------------------footer------------------------  */

.footer {
    background: #1e1823;
}

.footer-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #fff;
    ;
}

.footer-text .accent {
    color: #fd9222;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fff;
}

.footer-soc-list {}

.footer-soc-item {}

.footer-soc-link {}

.footer-address {}

.footer-contact-list {}

.footer-contact-item {}

.footer-contact-link {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}

.footer-menu-list {}

.footer-menu-item {}

.footer-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
}

/* ----------------------footer------------------------  */